{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
{{ parent() }}
<p>J'aime les catégories !</p>
	{% for category in category %}
	    {{ category.categoryName }}
	{% endfor %}
{% endblock %}